// src/styles/components/_header.scss
@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as vars;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 997;
  padding: 10px 20px;
  background-color: vars.$third-color;

  .site-logo {
    text-decoration: none;
  }

  .site-logo:hover h1 {
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
  }

  .header-options {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;

    @include mixins.respond-to(tablet) {
      flex-direction: column;
      align-items: flex-end;
      margin-top: 0px;
      margin-bottom: 6px;
      width: 100%;
    }
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Major Mono Display', monospace;
    background: linear-gradient(
      90deg,
      #9E4F16 0%,
      #cc8d28 19%,
      #ef0da4 65%,
      #be0878 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    .dot-dev {
      color: #ffffff;
      background: none;
      -webkit-text-fill-color: #ffffff;
    }

    @include mixins.respond-to(mobile) {
      font-size: 2rem;
    }
  }

  // In mobile & tablet mode, hide the language selector
  .language-selector {
    display: block;

    @include mixins.respond-to(tablet) {
      display: none;
    }
  }
}
