// src/styles/components/_nav.scss
@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as vars;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;

  .nav__list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

    @include mixins.respond-to(tablet) {
      display: none;
      visibility: hidden;
    }
  }

  .nav__item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    transition: color 0.3s ease;
  
    &:hover {
      color: vars.$primary-color;
    }

    &.active {
      color: vars.$primary-color;
      border-bottom: 1px solid vars.$primary-color;
    }

  }

  .nav__toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;

    @include mixins.respond-to(tablet) {
      display: block;
    }
  }
}

.nav__dropdown {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    text-align: right;

    .nav__item a {
      color: #ffffff;
      font-size: 1.2rem;
      text-align: left;
      text-decoration: none;
    

    &:hover {
      color: #be6526;
    }

    &.active {
      font-weight: bold;
      color: vars.$primary-color;
    }
  }
  }

  .nav__language {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: right;
  }
}

.nav__language button {
  margin: 0px;
  min-width: 100px;
  padding: 10px 6px 6px 6px;
  border: none;
  border-radius: 5px;
  background-color: #272727;
  color: white;
  cursor: pointer;

  &.active {
    font-weight: bold;
    background-color: #444444;
  }

  &:hover {
    background-color: #be6526;
  }
}
