@use "../abstracts/variables" as vars; 
@use "../abstracts/mixins" as mixins;

.projects {
  text-align: center;
  margin: 40px auto;
  padding: 20px;

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: vars.$primary-color;
    text-align: left;

    @include mixins.respond-to(tablet) {
      text-align: center;
    }
  }

  &__description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: vars.$third-color;
    text-align: left;

    @include mixins.respond-to(tablet) {
      text-align: center;
    }
  }

  .slick-slider {
    margin-top: 20px;

    .slick-dots {
      bottom: -25px;
      li {
        button:before {
          color: #333; // Couleur des points
        }
      }
    }

    .slick-prev,
    .slick-next {
      z-index: 1;
      color: #333;

      &:before {
        font-size: 20px;
        color: #333; // Couleur des flèches
      }
    }
  }

  .slick-list {
    overflow: hidden; // Empêche le débordement
  }

  .slick-slide {
    padding: 0 10px; // Espacement entre les slides
  }

}