@use "../abstracts/mixins" as mixins;
@use "../abstracts/variables" as vars;

.skill-card {
  background-color: vars.$third-color;
  padding: 6px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.521);
  text-align: center;
  transform-origin: center;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  &__image-container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    @include mixins.respond-to(tablet) {
      max-height: 100px;
    }

    @include mixins.respond-to(mobile) {
      max-height: 80px;
    }
  }

  &__image {
    max-width: 160px;
    max-height: 160px;
    border-radius: 5px;
    object-fit: cover;

    @include mixins.respond-to(tablet) {
      max-width: 100px;
      max-height: 100px;
    }

    @include mixins.respond-to(mobile) {
      max-width: 65px;
      max-height: 65px;
    }
  }

  &__name {
    font-size: 1.2rem;
    margin-bottom: 0px;
    font-weight: bold;
    color: vars.$secondary-color;

    @include mixins.respond-to(mobile) {
      font-size: 1rem;
    }
  }

  &__tag {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 6px;
    margin-right: 12px;
    background-color: vars.$third-color;
    border: 1px solid vars.$primary-color;
    color: vars.$primary-color;
    padding: 6px 5px 2px 5px;
    border-radius: 6px;
    font-size: 0.9rem;

    @include mixins.respond-to(tablet) {
      padding: 6px 4px 2px 4px;
      margin-right: 8px;
    }

    @include mixins.respond-to(mobile) {
      font-size: 0.7rem;
      padding: 3px 0px 0px 0px;
      display: block;
      margin: 0px 0px 3px 0px;
    }
  }
}
