// src/styles/_variables.scss
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #C76300;
$secondary-color: #ffffff;
$third-color: #252525;
//$font-main: "Montserrat", sans-serif;
$font-main: 'Anek Telugu', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-tertiary: 'Major Mono Display', sans-serif;
$container-color: #F6F6F6;
